<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>Online App</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  

<div class="header">
  <h1>Jute Products</h1></div>  
<div class="nav-bar">
  <P>THIS APPLICATION IS A PROJECT USING VUE JAVASCRIPT LIBRARY</P>
  <p>Some products made by Jute are presented below. This website is basically made to know how versatile Jute is</p>
</div>
<div id="app">
        <div class="product-image">
          <img v-bind:src="image1">
        </div>
      
        <div class="product-info1">
              <h1> {{ brand }} {{ product1 }}</h1>
              <p>{{ description1 }} 
                <ul></ul>
                  <li v-for="detail in details">{{ detail }}</li>
                </ul>
              </p>

            
              <p v-if="inStock1" style="color: forestgreen;">In Stock</p>
              <p v-else style="color: red;">Out of Stock</p>
              <span v-if="onSale1" style= "color: turquoise;">Sale!</span> 
        </div>

        <div class="product-image">
          <img v-bind:src="image2">
        </div>
      
        <div class="product-info2">
              <h1>{{ brand }}  {{ product2 }}</h1>
              <p>{{ description2 }} 
                <ul>
                  <li v-for="detail in details">{{ detail }}</li>
                </ul>
              </p>
              <p v-if="inStock2" style="color: forestgreen;">In Stock</p>
              <p v-else style="color: red;">Out of Stock</p>
              <span v-if="onSale2" style= "color: turquoise;">Sale!</span>
        </div>

          <div class="product-image">
            <img v-bind:src="image3">
          </div>
      
        <div class="product-info3">
              <h1>{{ brand }} {{ product3 }}</h1>
              <p>{{ description3 }} 
                <ul>
                  <li v-for="detail in details">{{ detail }}</li>
                </ul>
              </p>
              <p v-if="inStock3" style="color: forestgreen;">In Stock</p>
              <p v-else style="color: red;">Out of Stock</p>
              <span v-if="onSale3" style= "color: turquoise;">Sale!</span>
        </div>
</div> 

<div class="footer">
  <h5>CREATED BY STUDENT OF OAMK 02/2020</h5>
</div>
  
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
   <script src="main.js"></script>
   

</body>
</html>
